/* Small device: upto 576 px 
Medium Device: 576px to 992 px 
Large Device: above 993 px  */

/* Small device: upto 576 px */
@media screen and (max-width: 576px) {
    
    .width-range{
        max-width: 90%;
        margin: 0 auto;
    }

    .navbar{
      width: 85%;
      margin: 0 auto;
    }

    .navbar-items{
        display: none;
    }

    .ham-menu{
        display: block;
    }

    .banner{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .banner-items{
        margin-bottom: 2rem;
    }

    .banner-title{
        font-size: 2.9rem;
        margin-top: 50px;
    }

    .banner-btn{
        margin-right: 20px;
        margin-bottom: 5px;
    }


    .tutorial{
        width: 150px;
        top: 43%;
        left: 5%;

    }

    .workout{
        width: 150px;
        left: 55%;
        top: 5%;
    }

    .banner-text{
        max-width: 80%;
    }

    .habit-card{
        grid-template-columns: repeat(1,1fr);
        gap: 28px;
    }

    .habit-title{
        font-size: 1.8rem;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .run-section{
        flex-direction: column;
        margin: 0 auto 3.5rem auto;
        width: 95%;
        padding: 28px;
    }

    .run-text, .run-section-img {
        width: 100%;
    }
    .run-title{
        font-size: 2rem;
    }

    #run-img{
        display: block;
        border-radius: 20px;
        width: 100%;
    }

    .run-img{
        display: none;
    }

    #run-btn{
        font-size: 0.8rem;
        width: 90%;
        margin-bottom: 20px;
    }

    .training-section{
        margin-bottom: 4rem;
    }

    .training-row1{
        grid-template-columns: 1fr 1fr 0fr;
    }

    .training-row2{
        grid-template-columns: 1fr 1fr 0fr;
    }

    table {
        width: 300px;
        height: 220px;
    }

    .bmi-calculator-heading {
        padding: 50px 30px;
    }

    .bmi-calculator-title {
        font-size: 2rem;
    }

    .bmi-calculator-container {
        flex-direction: column;
        gap: 20px;
        margin: 0px 30px;

    }

    .bmi-calculator-chart h1 {
        padding-bottom: 2rem;
        font-size: 24px;
    }

    .calculator-title {
        font-size: 24px;
    }


    .bmi-calculator-description {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        padding-right: 5rem;
    }

    .bmi-calculator {
        padding: 0rem 0rem;
    }

    .calculator-heading {
        padding: 0px;
    }

    .calculator-form {
        padding: 0px;
    }

    .team-section{
        margin-bottom: 4rem;
    }

    .team-row{
        grid-template-columns:1fr;
    }

    .trainer1, .trainer4 {
        display: none;
    }

    .class-time-dropdown{
        display: block;
    }

    #day-select{
    height: 60px;
    width: 90%;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    cursor: pointer;
    }

    #day-select option{
    color: rgb(230, 84, 60);
    background-color: rgb(48, 48, 48);
    font-size: 0.8rem;
    cursor: pointer;
    }

    .time-card-container{
        grid-template-columns: 1fr 1fr;
    }

    .footer-container-top {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-middle, .footer-right {
        gap: 15px;
    }

}